<!-- <p>exercisehome works!</p> -->

<div class="container-fluid hero-section text-center">
    <div class="container">
        <h1>Workout and Exercise Plans</h1>
    <p>Explore various Workouts and exercises based on your needs and choice.</p>
    </div>
</div>
<div class="container features-section">
    <!-- <div class="container-fluid hero-section text-center" class="text-center mb-5">
        <h2>Customized Nutrition Plans</h2>
        <p>Explore the various nutrition based meal strategies we offer to support your health and wellness journey.</p>
    </div> -->
    
    <div class="row card-container">
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box">
                <h3><a routerLink="../customexercise">Workouts and Exercises based on body parts</a></h3>
                <p>Get variety of exercises and workouts focused on body parts.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box">
                <h3><a routerLink="../calorieburnt">Calories Burnt based on Activity</a></h3>
                <p>Get the value of Calories burnt upon doing certain activity by specifying the activity and duration.</p>
            </div>
        </div>
    </div>
</div>
