<!-- <p>cmphome works!</p> -->
<div class="container-fluid hero-section text-center">
    <div class="container">
        <h1>Customized Nutrition Plans</h1>
    <p>Explore the various nutrition based meal strategies we offer to support your health and wellness journey.</p>
    </div>
</div>
<div class="container features-section">
    <!-- <div class="container-fluid hero-section text-center" class="text-center mb-5">
        <h2>Customized Nutrition Plans</h2>
        <p>Explore the various nutrition based meal strategies we offer to support your health and wellness journey.</p>
    </div> -->
    
    <div class="row card-container">
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box">
                <h3><a routerLink="../recipe">Search recipes</a></h3>
                <p>Get nutrition planed meal tailored to your unique needs.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box">
                <h3><a routerLink="../bmi">Suggest foods based on BMI</a></h3>
                <p>Get food according to the BMI value.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box">
                <h3><a routerLink="../calorie">Meal plan per day/week</a></h3>
                <p>Get the meal plan per day/week based on target Calories to be gained.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box">
                <h3><a routerLink="../caloriegained">Calories Gained based on Food item/Ingredient</a></h3>
                <p>Get the calories gained in your meal based on specifying the food items/ingredients with quantity.</p>
            </div>
        </div>
    </div>
</div>