<!-- <p>facilities works!</p> -->
<!-- Features Section -->
<div class="container-fluid hero-section text-center">
    <div class="container">
        <h1>Features</h1>
        <p>Explore the various features we offer to support your health and wellness journey.</p>
    </div>
</div>
<div class="container features-section">
    <div class="row card-container">
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box" >
                <h3><a routerLink="../cmp">Customized Nutrition Plans</a></h3>
                <p>Get nutrition plans tailored to your unique needs.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box">
                <h3><a routerLink="../exercise">Workout and Exercise Plans</a></h3>
                <p>Access a variety of workouts suited to your needs.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box">
                <h3><a routerLink="">Mental Wellness Support</a></h3>
                <p>Strategies and support for maintaining mental well-being.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box">
                <h3><a routerLink="">Daily Healthy Living Tips</a></h3>
                <p>Tips for integrating healthy habits into your daily life.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box">
                <h3><a href="#">Personalized Diet Charts</a></h3>
                <p>Receive diet charts customized for your lifestyle.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex">
            <div class="feature-box">
                <h3><a href="#">Nutrition Consultation Services</a></h3>
                <p>Consult with experts to get personalized nutrition advice.</p>
            </div>
        </div>
    </div>
</div>
